networks:
  {{ ingress_network }}:
    driver: overlay
    attachable: true
    name: {{ ingress_network }}

services:
  nginx:
    image: "{{ nginx_image }}"
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.labels.ingress == true
      resources:
        limits:
          cpus: '0.5'
          memory: 512M
    restart: unless-stopped
    logging:
      driver: json-file
      options:
        max-size: 50M
    ports:
      - "80:80"
      - "443:443"
      - "{{ rtmp_ingress_port }}:{{ rtmp_ingress_port }}"
      - "{{ rtmps_ingress_port }}:{{ rtmps_ingress_port }}"
    networks:
      - {{ ingress_network }}
    volumes:
      - "{{ ssl_cert_path }}:/etc/nginx/ssl/fullchain.pem"
      - "{{ ssl_key_path }}:/etc/nginx/ssl/privkey.pem"
      - "/root/stacks/nginx/nginx.conf:/etc/nginx/nginx.conf"
