worker_processes auto;
rtmp_auto_push on;
events {}
user root root;
rtmp {
    server {
        listen {{ rtmp_port }};
        chunk_size {{ rtmp_chunk_size }};

        deny play all;

        application live {
            live on;

            on_publish http://rtmp-auth:6570/publish/auth-redirect;
        }

        # Ok so the problem is that, while we can create dynamic relays from
        # the HTTP callbacks by setting a location, the relay URL to push to
        # must contain a proper IP address, not a domain. While we should
        # be able to take advantage of Docker/Docker Swarm's DNS service
        # discovery by just resolving the domain within the auth server
        # itself, it doesn't seem to work for whatever reason.
        #
        # So, the auth/redirect server relays to this trampoline server and
        # then we do a regular static push relay here.
        application trampoline {
            live on;
            on_publish http://rtmp-auth:6570/publish;

            push rtmp://{{ rtmp_recording_container }}:{{ rtmp_port }}/live;
            push rtmp://{{ rtmp_playback_container }}:{{ rtmp_port }}/live;
        }
    }

}
