entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    swarmMode: true
    network: {{ traefik_network }}
    exposedByDefault: false

tls:
  certificates:
    - certFile: "/certs/cert.pem"
      keyFile: "/certs/privkey.pem"
