listen              {{ srt_port }};
max_connections     1000;

vhost __defaultVhost__ {
    srt {
        enabled     on;
        listen      {{ srt_port }};
        latency     200;
        backlog     512;
    }

    forward {
        enabled on;
        destination srt://{{ srt_recording_container }}:{{ srt_port }};
        destination srt://{{ srt_playback_container }}:{{ srt_port }};
    }

    publish {
        enabled on;
        auth {
            # Use HTTP authentication
            url http://auth-server/auth?key=[streamkey];
            http_code 200;
        }
    }
}

